#interactor-box {
    box-sizing: border-box;
    top: 85%;
    width: 65%;
    height: 10%;
    padding-bottom: 2%;
    margin-inline: 2%;
    max-width: 100%;
    display: flex;
    gap: 4px;
}

#interactor-text-input {
    width: 100%;
}

@media only screen and (max-width: 600px) {
    #interactor-box {
        width: 100%;
        padding-inline: 24px;
        padding-bottom: 24px;
    }
}
